html { font-size: 10px; }

.clear::after { content: ""; display: block; clear: both; }

body { font-size: 1.6rem; font-family: "Poppins", "Noto Sans KR", sans-serif; color: #111; }

a { color: #111111; text-decoration: none; list-style: none; }

button { background: none; border: none; outline: none; }

img { vertical-align: top; }

.hidden { display: none; }

#header { position: fixed; top: 0; width: 100%; height: 70px; background-color: #fff; z-index: 99; border-bottom: 2px solid #ccc; }

#header #logo { margin-top: 20px; }

#header .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 50px; margin: 0 auto; width: 1400px; text-align: center; }

#header .container #gnb { text-align: center; color: #111111; margin-right: 150px; }

#header .container #gnb .list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#header .container #gnb .list > li { position: relative; height: 70px; }

#header .container #gnb .list > li > a { font-size: 14px; text-transform: capitalize; font-weight: 700; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 70px; padding: 0 50px; }

#header .container #gnb .list > li:hover > a { background-color: #ffcc00; }

#header .container #gnb .list > li:hover .depth02 { display: block; }

#header .container #gnb .list > li .depth02 { background-color: #ffcc00; padding: 5px 10px; border-radius: 0 0 15px 15px; display: none; }

#header .container #gnb .list > li .depth02 li a { display: block; padding: 10px 0; }

#header .container #gnb .list > li .depth02 li a:hover { background-color: #cca300; border-radius: 5px; -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1); box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1); }

#header .container .myWrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 25px; }

#header .container .myWrap #top-cart { margin: 0 15px; }

#header .container .myWrap #top-account #ico-user { margin: 0 15px; }

#header .container .myWrap #top-account #ico-login { margin: 0 15px; }

footer { border-top: 2px solid #ccc; }

footer .container { width: 100%; }

footer .container .up_footer { background-color: #eee; padding: 30px 0; }

footer .container .up_footer .site_gnb { width: 900px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

footer .container .up_footer .site_gnb li { width: 150px; }

footer .container .up_footer .site_gnb li a { font-weight: 500; }

footer .container .up_footer .site_gnb li .subDepth { margin-top: 10px; line-height: 30px; }

footer .container .up_footer .site_gnb li .subDepth a { color: #777777; }

footer .container .middle_footer { background-color: #ddd; padding: 30px 0; }

footer .container .middle_footer .footer_menu2 .footer_info { width: 900px; margin: 0 auto; }

footer .container .middle_footer .footer_menu2 .footer_info li { margin-right: 40px; float: left; font-size: 12px; margin-bottom: 15px; line-height: 1; }

footer .container .middle_footer .footer_menu2 .footer_info li span { margin-right: 20px; }

footer .container .middle_footer .footer_menu2 .footer_info .sns { float: right; }

footer .container .down_footer { background-color: #ccc; font-size: 12px; }

footer .container .down_footer .down_footer_wrap { width: 900px; padding: 30px 0; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

footer .container .down_footer .down_footer_wrap .down_footer_right ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: right; -ms-flex-pack: right; justify-content: right; }

footer .container .down_footer .down_footer_wrap .down_footer_right ul li { margin-left: 15px; }
