.titleBox { line-height: 1.5; }

.titleBox h2 { margin-bottom: 50px; font-size: 3.6rem; font-weight: 600; }

.titleBox p { font-size: 18px; }

.btns { display: -webkit-box; display: -ms-flexbox; display: flex; }

.btns.center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.btns.right { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.btns .btn { border: 1px solid #d9d9d9; border-radius: 100px; -webkit-transition: 0.25s ease; transition: 0.25s ease; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.btns .transition:hover { background-color: #111111; border-color: #111111; color: #fff; }

.btns .large { height: 60px; padding: 0 50px; }

#main { padding-top: 70px; width: 100%; }

#main #stockistVisual { width: 100%; }

#main #stockistVisual li .stockistBanner { margin: 0 auto; width: 100%; height: 260px; background-position: 50%; background-size: cover; background-image: url("../images/main/banner/subimage_stockist.png"); }

#main #stockistVisual li .middleMenu { background-color: #faf8f2; height: 120px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; display: -webkit-box; display: -ms-flexbox; display: flex; }

#main #stockistVisual li .middleMenu p { font-size: 18px; font-weight: 600; color: #777777; }

#main #stockistVisual li p { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 14px; }

#main #stockistVisual li ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#main #stockistVisual li ul li a { display: block; padding: 30px; font-size: 14px; position: relative; z-index: 2; }

#main .shop { width: 777px; margin: 0 auto; padding: 35px 0 20px 0px; height: auto; }

#main .shop strong { font-family: "Montserrat", sans-serif; font-size: 18px; font-weight: 600; color: #777777; }

#main .shop01 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop01 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec01.png); background-repeat: no-repeat; }

#main .shop01 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop01 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop02 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop02 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec02.png); background-repeat: no-repeat; }

#main .shop02 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop02 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop03 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop03 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec03.jpg); background-repeat: no-repeat; }

#main .shop03 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop03 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop04 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop04 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec04.png); background-repeat: no-repeat; }

#main .shop04 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop04 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop05 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop05 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec05.png); background-repeat: no-repeat; }

#main .shop05 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop05 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop06 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop06 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec06.jpg); background-repeat: no-repeat; }

#main .shop06 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop06 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; float: left; }

#main .shop07 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop07 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec07.png); background-repeat: no-repeat; }

#main .shop07 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop07 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop08 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop08 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec08.png); background-repeat: no-repeat; }

#main .shop08 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop08 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop09 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop09 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec09.jpg); background-repeat: no-repeat; }

#main .shop09 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop09 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop10 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop10 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec10.jpg); background-repeat: no-repeat; }

#main .shop10 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop10 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop11 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop11 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec11.jpg); background-repeat: no-repeat; }

#main .shop11 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop11 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop12 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop12 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec12.jpg); background-repeat: no-repeat; }

#main .shop12 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop12 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop13 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop13 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec13.jpg); background-repeat: no-repeat; }

#main .shop13 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop13 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .shop14 { width: 777px; margin: 0 auto; display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 30px; color: #777777; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#main .shop14 .mainBox { height: 120px; padding: 0px 0 0px 200px; background: url(../images/main/stockist/stockist_sec14.jpg); background-repeat: no-repeat; }

#main .shop14 .mainBox h4 { font-family: "Noto Sans KR"; font-weight: 600; line-height: 1; color: #777; display: relative; margin-bottom: 25px; }

#main .shop14 .mainBox p { font-size: 14px; font-weight: 300; line-height: 26px; letter-spacing: -1px; }

#main .stockistOnline { width: 777px; margin: 0 auto; padding: 35px 0 20px 0px; height: auto; }

#main .stockistOnline .logoBundle { position: relative; }

#main .stockistOnline .logoBundle div ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left; }

#main .stockistOnline .logoBundle div ul li { padding: 7px; position: relative; }
