.titleBox { line-height: 1.5; }

.titleBox h2 { margin-bottom: 50px; font-size: 3.6rem; font-weight: 600; }

.titleBox p { font-size: 18px; }

.btns { display: -webkit-box; display: -ms-flexbox; display: flex; }

.btns.center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.btns.right { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.btns .btn { border: 1px solid #d9d9d9; border-radius: 100px; -webkit-transition: 0.25s ease; transition: 0.25s ease; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.btns .transition:hover { background-color: #111111; border-color: #111111; color: #fff; }

.btns .large { height: 60px; padding: 0 50px; }

#main { padding-top: 70px; border: 1px solid red; width: 100%; }

#main #mainVisual li .reviewBanner { margin: 0 auto; text-align: center; width: 100%; height: 260px; background-color: #ccc; background-repeat: no-repeat; background-position: 50%; background-size: cover; background-image: url("../images/main/banner/subimage_review.png"); cursor: pointer; position: relative; }

#main #mainVisual li .reviewBanner .promiss { margin: 0 auto; border: 1px red; text-align: center; position: absolute; top: 600px; height: 310px; left: 35%; width: 500px; }

#main #mainVisual li .reviewBanner .promiss h2 { font-size: 3.6rem; font-weight: 900; margin-top: 40px; }

#main #mainVisual li .reviewBanner .promiss .sub { font-size: 20px; font-weight: 600; margin-top: 40px; }

#main #mainVisual li .reviewBanner .promiss .sub p { line-height: 30px; }

#main #mainVisual li .reviewBanner .promiss button { width: 150px; height: 60px; margin-top: 40px; background-color: #ffcc00; color: #fff; font-size: 25px; }

#main #mainVisual { width: 100%; border: 1px red; }

#main #mainVisual li .aboutBanner { margin: 0 auto; width: 100%; height: 260px; background-color: #ccc; background-position: 50%; background-size: cover; background-image: url("../images/main/subimage_about.png"); cursor: pointer; position: relative; }

#main #mainVisual li .middleMenu { display: -webkit-box; display: -ms-flexbox; display: flex; height: 120px; text-align: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background-color: #faf8f2; border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

#main #mainVisual li .middleMenu p { padding: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; font-size: 18px; }

#main #mainVisual li .middleMenu ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#main #mainVisual li .middleMenu ul li:first-child a:before { display: none; }

#main #mainVisual li .middleMenu ul li a { display: block; padding: 30px; font-size: 14px; position: relative; }

#main #mainVisual li .middleMenu ul li a:before { content: ""; display: block; position: absolute; width: 1px; height: 10px; background-color: #fff; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#main #mainVisual .inner { margin: 0 auto; width: 777px; color: #ffffff; }

#main #mainVisual .inner .xansBoard { margin: 0 auto; padding-top: 60px; padding-bottom: 60px; }

#main #mainVisual .inner .xansBoard .responsiveTable { display: block; width: 100%; overflow-x: auto; }

#main #mainVisual .inner .xansBoard .responsiveTable .table { width: 100%; margin-top: 0; border: 1px solid #c3cfd9; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody { text-align: center; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr { background-color: #ffffff; color: #333333; width: 58px; height: 106px; border-bottom: 1px solid #c3cfd9; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr td { font-size: 16px; color: #676e73; border-color: #c3cfd9; border-left: none; border-right: none; background: #fbfafa; vertical-align: middle; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .thumb { width: 148px; background: #fff; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .thumb li { list-style: none; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .thumb li a { overflow: hidden; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .thumb li a img { width: 90px; border-radius: 20px; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .thumb li .writer { float: left; padding: 50px 30px 60px 8px; text-align: left; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak { position: relative; width: 570px; height: 106px; background: #fff; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardSubjectPrd { margin-bottom: 0; padding-right: 180px; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardSubjectPrd span { display: block; width: 84%; padding-top: 10px; font-size: 14px; font-weight: 400; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardSubjectPrd a { font-size: 16px; font-weight: 600; font: inherit; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardSubjectPrd a span { display: block; width: 84%; padding-top: 10px; font-size: 14px; font-weight: 400; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardSubjectPrd .txtWarn { display: block; width: 84%; padding-top: 10px; font-size: 14px; font-weight: 400; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardSubjectPrd .writer { display: block; width: 84%; padding-top: 10px; font-size: 14px; font-weight: 400; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardSubjectTit { width: 539px; text-align: left; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardSubjectTit a { font-size: 14px; color: #959ea6; font-family: "Quicksand"; font-weight: 600; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardSubjectTit span { display: block; width: 84%; padding-top: 10px; font-size: 16px; color: #676e73; font-weight: 500; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardSubjectTit span img { float: right; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .star { text-align: left; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardEtc { position: absolute; right: 30px; top: 50%; margin-top: -11px; }

#main #mainVisual .inner .xansBoard .responsiveTable .table .xansBody tr .subjectLeftTxtBreak .hbBoardEtc span span { font-weight: 500; font-size: 14px; color: #676e73; }

#main #mainVisual .inner .pagination { text-align: center; }

#main #mainVisual .inner .pagination a { color: #777777; letter-spacing: -0.45px; }

#main #mainVisual .inner .pagination ol { display: inline-block; font-size: 0; line-height: 0; vertical-align: top; }

#main #mainVisual .inner .pagination ol li { display: inline-block; margin: 0 0 0 1px; font-size: 12px; color: #757575; vertical-align: top; }

#main #mainVisual .inner .pagination ol li a { width: auto; height: 24px; padding: 0 10px; border: none; font-size: 16px; line-height: 24px; }

#main #mainVisual .inner .searchBar { padding: 20px; text-align: center; }

#main #mainVisual .inner .searchBar div select { height: 40px; width: 100px; margin: 0 0 0 10px; }

#main #mainVisual .inner .searchBar div input { width: 300px; height: 40px; border: 1px solid #c3cfd9; font-size: 16px; color: #777777; line-height: 40px; }

#main #mainVisual .inner .searchBar div a { display: inline-block; width: 100px; height: 40px; margin-left: 10px; line-height: 40px; background: #f9ce42; color: #fff; font-size: 16px; font-weight: 500; vertical-align: middle; }
