.titleBox { line-height: 1.5; }

.titleBox h2 { margin-bottom: 50px; font-size: 3.6rem; font-weight: 600; }

.titleBox p { font-size: 18px; }

.btns { display: -webkit-box; display: -ms-flexbox; display: flex; }

.btns.center { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.btns.right { -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.btns .btn { border: 1px solid #d9d9d9; border-radius: 100px; -webkit-transition: 0.25s ease; transition: 0.25s ease; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.btns .transition:hover { background-color: #111111; border-color: #111111; color: #fff; }

.btns .large { height: 60px; padding: 0 50px; }

#main { padding-top: 70px; width: 100%; }

#main #mainVisual { width: 100%; }

#main #mainVisual li .eventsBanner { margin: 0 auto; text-align: center; width: 100%; height: 260px; background-repeat: no-repeat; background-position: 50%; background-size: cover; background-image: url("../images/main/banner/subimage_benefits.png"); }

#main #mainVisual li .middleMenu { background-color: #faf8f2; border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

#main #mainVisual li .middleMenu p { padding: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; font-size: 18px; }

#main #mainVisual li .middleMenu ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#main #mainVisual li .middleMenu ul li:first-child a:before { display: none; }

#main #mainVisual li .middleMenu ul li a { display: block; padding: 30px; font-size: 14px; position: relative; }

#main #mainVisual li .middleMenu ul li a:before { content: ""; display: block; position: absolute; width: 1px; height: 10px; background-color: #fff; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

#main #mainVisual li .eventsContainer { position: relative; letter-spacing: -0.45px; }

#main #mainVisual li .eventsContainer .eventsBox { padding-top: 20px; }

#main #mainVisual li .eventsContainer .eventsBox ul { -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left; width: 100%; margin: 20px 100px 50px; font-size: 0; line-height: 2; text-align: center; display: -webkit-box; display: -ms-flexbox; display: flex; }

#main #mainVisual li .eventsContainer .eventsBox ul li { width: 343px; padding: 0; margin: 0 20px 0 0; }

#main #mainVisual li .eventsContainer .eventsBox ul li a { overflow: hidden; width: 345px; height: 345px; }

#main #mainVisual li .eventsContainer .eventsBox ul li a img { width: 343px; height: 343px; }

#main #mainVisual li .eventsContainer .eventsBox ul li .txt { font-size: 16px; color: #676e73; font-weight: 500; }

#main #mainVisual li .eventsContainer .eventsBox ul li span { font-size: 14px; display: inline-block; }

#main #mainVisual li .eventsContainer .eventsBox ul li span strong { margin: 30px; border-right: 1px solid #757575; }

#main #mainVisual li .eventsContainer .eventsBox ul li span em { font-weight: normal; display: inline-block; }

#main .pagination { text-align: center; margin-bottom: 250px; }

#main .pagination a { color: #777777; letter-spacing: -0.45px; }

#main .pagination ol { display: inline-block; font-size: 0; line-height: 0; vertical-align: top; }

#main .pagination ol li { display: inline-block; margin: 0 0 0 1px; font-size: 12px; color: #757575; vertical-align: top; }

#main .pagination ol li a { width: auto; height: 24px; padding: 0 10px; border: none; font-size: 16px; line-height: 24px; }
