#main .order_info { width: 1480px; height: 1500px; margin: 0 auto; }

#main .order_info .titleArea { padding: 40px 0; text-align: center; margin: 0 auto; width: 500px; height: 50px; font-size: 36px; font-weight: 500; line-height: 50px; color: #777777; }

#main .order_info .order_menu { width: 100%; margin-top: 40px; }

#main .order_info .order_menu .basetab { border-bottom: 1px solid #777777; }

#main .order_info .order_menu .basetab ul li { width: 180px; display: inline-block; border: 1px solid #777777; border-bottom: none; padding: 10px 20px; text-align: center; border-radius: 15px 15px 0 0; z-index: 10; cursor: pointer; }

#main .order_info .order_menu .basetab ul li a { display: block; }

#main .order_info .order_menu .basetab ul li.selected { background-color: #777777; }

#main .order_info .order_menu .basetab ul li.selected a { color: #fff; }

#main .order_info .order_menu .order-history { margin: 40px 0; }

#main .order_info .order_menu .order-history fieldset { padding: 30px; border: 1px solid #c3cfd9; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

#main .order_info .order_menu .order-history fieldset .state_select select { width: 200px; height: 40px; border-color: #c3cfd9; font-size: 16px; padding-left: 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url("../images/common/arr-select.png"); background-repeat: no-repeat; background-position: 95%; }

#main .order_info .order_menu .order-history fieldset .state_select.off { display: none; }

#main .order_info .order_menu .order-history fieldset .period { margin: 0 30px; height: 40px; }

#main .order_info .order_menu .order-history fieldset .period span a { display: inline-block; width: 60px; height: 40px; line-height: 40px; text-align: center; border: 1px solid #c3cfd9; }

#main .order_info .order_menu .order-history fieldset .date { position: relative; width: 140px; height: 40px; border: 1px solid #c3cfd9; }

#main .order_info .order_menu .order-history fieldset .date input { -webkit-box-sizing: border-box; box-sizing: border-box; width: 140px; height: 40px; display: block; padding-left: 20px; border: none; }

#main .order_info .order_menu .order-history fieldset .date button { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: 2px; }

#main .order_info .order_menu .order-history fieldset .btnWrap { margin-top: 30px; padding: 10px 0; width: 100%; text-align: center; cursor: pointer; background-color: #ffcc00; }

#main .order_info .order_menu .order-history fieldset .btnWrap a span { color: #fff; font-size: 20px; }

#main .order_info .order_menu .order-history ul { margin-top: 20px; padding-left: 30px; list-style: disc; line-height: 30px; }

#main .order_info .order_list_table table { width: 100%; border-top: 1px solid #c3cfd9 !important; vertical-align: middle; padding: 20px 20px; }

#main .order_info .order_list_table table thead tr { border-bottom: 1px solid #c3cfd9 !important; }

#main .order_info .order_list_table table thead tr th { padding: 15px 0; line-height: 1.5; vertical-align: middle; }

#main .order_info .order_list_table table tbody { text-align: center; }

#main .order_info .order_list_table table tbody tr { border-bottom: 1px solid #c3cfd9 !important; }

#main .order_info .order_list_table table tbody tr td { padding: 15px 0; line-height: 1.5; vertical-align: middle; }

#main .order_info .order_page { margin-top: 40px; height: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#main .order_info .order_page a { margin: 0 5px; }

#main .order_info .order_page ol li a { line-height: 24px; }
