@import "vars";
@import "mixins";
html {
  font-size: 10px;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  color: #111;
}
a {
  color: $text-color;
  text-decoration: none;
  list-style: none;
}
button {
  background: none;
  border: none;
  outline: none;
}
img {
  vertical-align: top;
}
.hidden {
  display: none;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #fff;
  z-index: 99;
  border-bottom: 2px solid #ccc;
  #logo {
    margin-top: 20px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0 auto;
    // border: 1px solid red;
    width: 1400px;
    text-align: center;
    #gnb {
      text-align: center;
      color: $text-color;
      margin-right: 150px;
      .list {
        display: flex;
        justify-content: space-between;
        > li {
          position: relative;
          height: 70px;
          > a {
            font-size: $normal-size;
            text-transform: capitalize;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;
            padding: 0 50px;
          }
          &:hover {
            > a {
              background-color: #ffcc00;
            }
            .depth02 {
              display: block;
            }
          }
          .depth02 {
            background-color: #ffcc00;
            padding: 5px 10px;
            border-radius: 0 0 15px 15px;
            display: none;
            li {
              a {
                display: block;
                padding: 10px 0;
                &:hover {
                  background-color: darken($main-color, 10);
                  border-radius: 5px;
                  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
                }
              }
            }
          }
        }
      }
    }
    .myWrap {
      display: flex;
      justify-content: center;
      margin-top: 25px;

      #top-cart {
        margin: 0 15px;
      }
      #top-account {
        #ico-user {
          margin: 0 15px;
        }
        #ico-login {
          margin: 0 15px;
        }
      }
    }
  }
}

footer {
  border-top: 2px solid #ccc;
  .container {
    width: 100%;
    .up_footer {
      background-color: #eee;
      padding: 30px 0;
      .site_gnb {
        width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        li {
          width: 150px;
          a {
            font-weight: 500;
          }
          .subDepth {
            margin-top: 10px;
            line-height: 30px;
            a {
              color: #777777;
            }
          }
        }
      }
    }
    .middle_footer {
      background-color: #ddd;
      padding: 30px 0;
      .footer_menu2 {
        .footer_info {
          width: 900px;
          margin: 0 auto;
          li {
            margin-right: 40px;
            float: left;
            font-size: 12px;
            margin-bottom: 15px;
            line-height: 1;
            span {
              margin-right: 20px;
            }
          }
          .sns {
            float: right;
          }
        }
      }
    }
    .down_footer {
      background-color: #ccc;
      font-size: 12px;
      .down_footer_wrap {
        width: 900px;
        padding: 30px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .down_footer_right ul {
          display: flex;
          justify-content: right;
          li {
            margin-left: 15px;
          }
        }
      }
    }
  }
}
