@import "vars";
@import "mixins";
// 공통으로 쓰는 것들
main {
  // 테이블 하단의 1,2,3,4,5
  .order_page {
    margin: 50px 0 10px;
    height: 24px;
    display: flex;
    justify-content: center;
    a {
      margin: 0 5px;
    }
    ol {
      li {
        display: inline;
        a {
          line-height: 24px;
        }
      }
    }
  } //order_page_end
}

#main {
  padding-top: 70px;
  width: 100%;
  // 메인페이지 슬라이드 이미지 부분
  #mainVisual {
    height: 910px;
    position: relative;
    ul {
      li {
        margin: 0 auto;
        text-align: center;
        height: 910px;
        background-color: #eee;
        background-repeat: no-repeat;
        box-sizing: border-box;
        background-position: 50%;
        background-size: cover;
        &.visual01 {
          background-image: url("../images/main/banner/PC_main_1.png");
        }
        &.visual02 {
          background-image: url("../images/main/banner/PC2_essence.png");
        }
        &.visual03 {
          background-image: url("../images/main/banner/PC3_brand.png");
        }
        cursor: pointer;
        position: relative;
        overflow: hidden;
        .promiss {
          position: absolute;
          left: 50%;
          bottom: 0px;
          transform: translateX(-50%);
          text-align: center;
          width: 500px;
          height: 310px;
          color: #777777;
          h2 {
            font-size: $h2;
            font-weight: 900;
            margin-top: 40px;
          }
          .sub {
            font-size: 20px;
            font-weight: 600;
            margin-top: 40px;
            p {
              line-height: 30px;
            }
          }
          button {
            width: 150px;
            height: 60px;
            margin-top: 40px;
            background-color: #ffcc00;
            color: #fff;
            font-size: 25px;
          }
        }
      }
    }
    .pagination {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%);
      width: 250px;
      height: 30px;
      margin: 0 auto;
      text-align: center;

      z-index: 50;
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #fff;
        opacity: 1;
        border-radius: 100px;
        &-active {
          background: #ffcf42;
        }
      }
    }
  }
  //   mainVisual end
  // 메인페이지 baby, kid&family, bath goods, prsent 작업
  .main-info {
    margin: 0 auto;
    .container {
      .sec01 {
        display: flex;
        justify-content: center;
        width: 1320px;
        margin: 0 auto;
        .bg_img {
          width: 660px;
          height: 620px;
          background-image: url("../images/main/main_img01.png");
          background-repeat: no-repeat;
          //background-position: 50%;
          background-size: cover;
        }
        .txtBox {
          width: 660px;
          height: 620px;
          position: relative;
          .txtInner {
            position: absolute;
            padding-left: 80px;
            top: 50%;
            transform: translateY(-50%);
            p {
              font-size: 14px;
              margin-bottom: 40px;
              line-height: 20px;
            }
            a {
              line-height: 50px;
              height: 55px;
              font-size: 30px;
              padding: 0 30px;
              font-weight: 600;
              border: 2px solid #777777;
              color: #777777;
            }
          }
        }
      }
      .sec02 {
        display: flex;
        justify-content: center;
        width: 1320px;
        margin: 0 auto;
        .bg_img {
          width: 660px;
          height: 620px;
          background-image: url("../images/main/main_img02.png");
          background-repeat: no-repeat;
          //background-position: 50%;
          background-size: cover;
        }
        .txtBox {
          width: 660px;
          height: 620px;
          position: relative;
          .txtInner {
            position: absolute;
            padding-left: 80px;
            top: 50%;
            transform: translateY(-50%);
            p {
              font-size: 14px;
              margin-bottom: 40px;
              line-height: 20px;
            }
            a {
              line-height: 50px;
              height: 55px;
              font-size: 30px;
              padding: 0 30px;
              font-weight: 600;
              border: 2px solid #777777;
              color: #777777;
            }
          }
        }
      }
      .sec03 {
        display: flex;
        justify-content: center;
        width: 1320px;
        margin: 0 auto;
        .bg_img {
          width: 660px;
          height: 620px;
          background-image: url("../images/main/main_img03.png");
          background-repeat: no-repeat;
          //background-position: 50%;
          background-size: cover;
        }
        .txtBox {
          width: 660px;
          height: 620px;
          position: relative;
          .txtInner {
            position: absolute;
            padding-left: 80px;
            top: 50%;
            transform: translateY(-50%);
            p {
              font-size: 14px;
              margin-bottom: 40px;
              line-height: 20px;
            }
            a {
              line-height: 50px;
              height: 55px;
              font-size: 30px;
              padding: 0 30px;
              font-weight: 600;
              border: 2px solid #777777;
              color: #777777;
            }
          }
        }
      }
      .sec04 {
        display: flex;
        justify-content: center;
        width: 1320px;
        margin: 0 auto;
        .bg_img {
          width: 660px;
          height: 620px;
          background-image: url("../images/main/main_img04.png");
          background-repeat: no-repeat;
          //background-position: 50%;
          background-size: cover;
        }
        .txtBox {
          width: 660px;
          height: 620px;
          position: relative;
          .txtInner {
            position: absolute;
            padding-left: 80px;
            top: 50%;
            transform: translateY(-50%);
            p {
              font-size: 14px;
              margin-bottom: 40px;
              line-height: 20px;
            }
            a {
              line-height: 50px;
              height: 55px;
              font-size: 30px;
              padding: 0 30px;
              font-weight: 600;
              border: 2px solid #777777;
              color: #777777;
            }
          }
        }
      }
    }
  }
  //main-info end
}
