@import "vars";
@import "mixins";
.titleBox {
  line-height: 1.5;
  h2 {
    margin-bottom: 50px;
    font-size: $h2;
    font-weight: 600;
  }
  p {
    font-size: $medium-size;
  }
}

.btns {
  display: flex;
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  .btn {
    border: 1px solid $border-color;
    border-radius: 100px;
    transition: 0.25s ease;
    @include flexCenter();
  }
  .transition:hover {
    background-color: $text-color;
    border-color: $text-color;
    color: #fff;
  }
  .large {
    height: 60px;
    padding: 0 50px;
  }
}

#main {
  padding-top: 70px;
  border: 1px red;
  width: 100%;

  #mainVisual {
    width: 100%;
    border: 1px red;
    li {
      .visual01 {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 910px;
        background-color: #ccc;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        background-image: url("../images/main/banner/PC_main_1.png");
        cursor: pointer;
        position: relative;
        .promiss {
          margin: 0 auto;
          border: 1px red;
          text-align: center;
          position: absolute;

          top: 600px;
          height: 310px;
          left: 35%;
          width: 500px;

          h2 {
            font-size: $h2;
            font-weight: 900;
            margin-top: 40px;
          }
          .sub {
            font-size: 20px;
            font-weight: 600;
            margin-top: 40px;
            p {
              line-height: 30px;
            }
          }
          button {
            width: 150px;
            height: 60px;
            margin-top: 40px;
            background-color: #ffcc00;
            color: #fff;
            font-size: 25px;
          }
        }
      }
    }
  }
  .mainContents {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-right: 15px;
    #business {
      margin: 0;
      .listBox {
        width: 1200px;
        margin: auto;

        .list {
          display: flex;
          flex-wrap: wrap;

          .leftBox {
            width: 590px;
            position: relative;
            overflow: hidden;
          }
          .rightBox {
            width: 1000px;
            position: relative;
            overflow: hidden;
          }
          .leftTxtBox {
            width: 50%;

            position: relative;
            color: #777777;
            float: left;

            .btns {
              display: flex;
              justify-content: center;
              a {
                display: inline-block;
                height: 55px;
                margin-top: 30px;
                padding: 0 30px;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                line-height: 50px;
                border: 2px solid #777777;
                color: #777777;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                overflow: hidden;
              }
            }
          }
          .rightTxtBox {
            width: 50%;
            padding-left: 80px;
            color: #777777;
            float: right;
            width: 1200px;
            margin: auto;
            padding: 50px 0;
            .btns {
              display: flex;
              justify-content: center;
              a {
                display: inline-block;
                height: 55px;
                margin-top: 30px;
                padding: 0 30px;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                line-height: 50px;
                border: 2px solid #777777;
                color: #777777;
                justify-content: center;
                align-items: center;

                background-color: #fff;

                overflow: hidden;
              }
            }
          }
        }
      }
    }
    //   mainVisual end
    .test {
      background-color: blue;
      width: 500px;
      height: 300px;
      margin: 0 auto;
    }
  }
  #mainVisual {
    width: 100%;
    border: 1px red;
    li {
      .aboutBanner {
        margin: 0 auto;
        width: 100%;
        height: 260px;
        background-color: #ccc;
        background-position: 50%;
        background-size: cover;
        background-image: url("../images/main/subimage_about.png");
        cursor: pointer;
        position: relative;
      }
      .middleMenu {
        background-color: #faf8f2;
        p {
          padding: 10px;
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 18px;
        }
        border-bottom: 1px solid transparentize($white-color, 0.5);
        ul {
          display: flex;
          justify-content: center;
          li {
            &:first-child a:before {
              display: none;
            }
            a {
              display: block;
              padding: 30px;
              font-size: 14px;
              position: relative;
              &:before {
                @include pseudo();
                @include box(1px, 10px);
                background-color: $white-color;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
      .sec0 {
        margin: 0;
        padding: 0;
        letter-spacing: 0.5px;

        .smallContainer {
          margin: 0 auto;
          width: 777px;
          .left {
            padding: 35px 0 40px 0;
            strong {
              color: #777777;
              font-size: 18px;
              padding-bottom: 10px;
              font-weight: 600;
            }
            div {
              font-size: 14px;
              color: #777777;
            }
          }
          .right {
            image {
              opacity: 0.5;
            }
            display: flex;
            position: relative;
            .pictureMenu {
              position: absolute;
              bottom: 50px;
              left: 0;
              width: 100%;
              text-align: center;
              box-sizing: border-box;
              h3 {
                font-size: 18px;
                font-weight: 600;
                color: #ffffff;
                padding-bottom: 5px;
              }
              h4 {
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
              }
              .meetTab {
                display: flex;
                margin-top: 20px;
                padding-bottom: 0;
                justify-content: center;
                flex-wrap: wrap;

                li {
                  margin: 0 10px 10px;
                  box-sizing: border-box;
                  a {
                    display: inline-block;
                    width: 160px;
                    height: 50px;
                    padding: 0 20px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 600;
                    color: #ffffff;
                    line-height: 45px;
                    border: 2px solid #ffffff;

                    &:hover {
                      color: #ffffff;
                      background-color: #dfdfdc;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .sec01 {
        margin: 0;
        padding: 0;
        letter-spacing: 0.5px;
        img {
          width: 1000px;
        }
        .inner {
          margin: 0 auto;
          width: 777px;
          .left {
            padding: 35px 0 40px 0;
            strong {
              color: #777777;
              font-size: 18px;
              padding-bottom: 10px;
              font-weight: 600;
            }
            div {
              font-size: 14px;
              color: #777777;
            }
          }
          .right {
            image {
              opacity: 0.5;
            }
            display: flex;
            position: relative;
            .pictureMenu {
              position: absolute;
              bottom: 50px;
              left: 0;
              width: 100%;
              text-align: center;
              box-sizing: border-box;
              h3 {
                font-size: 18px;
                font-weight: 600;
                color: #ffffff;
                padding-bottom: 5px;
              }
              h4 {
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
              }
              .meetTab {
                display: flex;
                margin-top: 20px;
                padding-bottom: 0;
                justify-content: center;
                flex-wrap: wrap;
                box-sizing: border-box;
                li {
                  margin: 0 10px 10px;
                  box-sizing: border-box;
                  a {
                    display: inline-block;
                    width: 160px;
                    height: 50px;
                    padding: 0 20px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 600;
                    color: #ffffff;
                    line-height: 45px;
                    border: 2px solid #ffffff;
                    &:hover {
                      color: #ffffff;
                      background-color: #dfdfdc;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .sec02 {
        margin: 0;
        padding: 0;
        letter-spacing: 0.5px;

        .inner {
          margin: 0 auto;
          width: 777px;
          .left {
            padding: 35px 0 40px 0;
            strong {
              color: #777777;
              font-size: 18px;
              padding-bottom: 10px;
            }
            div {
              font-size: 14px;
              color: #777777;
            }
          }
        }
      }
      .sec03 {
        margin: 0;
        padding: 0;
        letter-spacing: 0.5px;

        .inner {
          margin: 0 auto;
          width: 777px;
          .left {
            padding: 35px 0 40px 0;
            strong {
              color: #777777;
              font-size: 18px;
              padding-bottom: 10px;
            }
            div {
              font-size: 14px;
              color: #777777;
              a {
                color: #ffcc00;
                font-weight: 500;
                span {
                  color: #fff;
                  font-size: 10px;
                  border-radius: 50px;
                  padding: 3px;
                  background: #ffcc00;
                  vertical-align: top;
                }
              }
            }
          }
        }
      }

      .whoSec01 {
        margin: 0;
        padding: 0;
        letter-spacing: 0.5px;

        .smallContainer {
          margin: 0 auto;
          width: 777px;
          .left {
            padding: 35px 0 40px 0;
            strong {
              color: #777777;
              font-size: 18px;
              padding-bottom: 10px;
              font-weight: 600;
            }
            div {
              font-size: 14px;
              color: #777777;
            }
          }
          .right {
            image {
              opacity: 0.5;
            }
            display: flex;
            position: relative;
            .pictureMenu {
              position: absolute;
              bottom: 50px;
              left: 0;
              width: 100%;
              text-align: center;
              box-sizing: border-box;
              h3 {
                font-size: 18px;
                font-weight: 600;
                color: #ffffff;
                padding-bottom: 5px;
              }
              h4 {
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
              }
              .meetTab {
                display: flex;
                margin-top: 20px;
                padding-bottom: 0;
                justify-content: center;
                flex-wrap: wrap;

                li {
                  margin: 0 10px 10px;
                  box-sizing: border-box;
                  a {
                    display: inline-block;
                    width: 160px;
                    height: 50px;
                    padding: 0 20px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 600;
                    color: #ffffff;
                    line-height: 45px;
                    border: 2px solid #ffffff;
                    &:hover {
                      color: #ffffff;
                      background-color: #dfdfdc;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .whoSec02 {
        position: relative;
        display: flex;
        height: 160px;
        align-items: center;

        div {
          padding: 0 0 0 140px;
          background: url(../images/main/sub_whoweare_sec01.png);
          h4 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #777;
            margin-top: -5px;
          }
          p {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -1px;
          }
        }
      }
      .whoSec03 {
        display: flex;
        height: 160px;
        align-items: center;
        div {
          padding: 0 0 0 140px;
          background: url(../images/main/sub_whoweare_sec02.png);
          h4 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #777;
            margin-top: -5px;
          }
          p {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -1px;
          }
        }
      }
      .whoSec04 {
        display: flex;
        height: 160px;
        align-items: center;
        div {
          padding: 0 0 0 140px;
          background: url(../images/main/sub_whoweare_sec03.png);
          h4 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #777;
            margin-top: -5px;
          }
          p {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -1px;
          }
        }
      }
      .whoSec05 {
        display: flex;
        height: 160px;
        align-items: center;
        div {
          padding: 0 0 0 140px;
          background: url(../images/main/sub_whoweare_sec04.png);
          h4 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #777;
            margin-top: -5px;
          }
          p {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -1px;
          }
        }
      }
      .whoSec06 {
        display: flex;
        height: 160px;
        align-items: center;
        div {
          padding: 0 0 0 140px;
          background: url(../images/main/sub_whoweare_sec05.png);
          h4 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #777;
            margin-top: -5px;
          }
          p {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -1px;
          }
        }
      }
      .whoSec07 {
        display: flex;
        height: 160px;
        align-items: center;
        div {
          padding: 0 0 0 140px;
          background: url(../images/main/sub_whoweare_sec06.png);
          h4 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #777;
            margin-top: -5px;
          }
          p {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -1px;
          }
        }
      }
      .whoSec08 {
        display: flex;
        height: 160px;
        align-items: center;
        div {
          padding: 0 0 0 140px;
          background: url(../images/main/sub_whoweare_sec07.png);
          h4 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #777;
            margin-top: -5px;
          }
          p {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -1px;
          }
        }
      }
      .whoSec09 {
        display: flex;
        height: 160px;
        align-items: center;
        div {
          padding: 0 0 0 140px;
          background: url(../images/main/sub_whoweare_sec08.png);
          h4 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #777;
            margin-top: -5px;
          }
          p {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -1px;
          }
        }
      }
      .whoSec10 {
        display: flex;
        height: 160px;
        align-items: center;
        div {
          padding: 0 0 0 140px;
          background: url(../images/main/sub_whoweare_sec09.png);
          h4 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #777;
            margin-top: -5px;
          }
          p {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -1px;
          }
        }
      }
    }
  }
}
