@import "vars";
@import "mixins";
.titleBox {
  line-height: 1.5;
  h2 {
    margin-bottom: 50px;
    font-size: $h2;
    font-weight: 600;
  }
  p {
    font-size: $medium-size;
  }
}

.btns {
  display: flex;
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  .btn {
    border: 1px solid $border-color;
    border-radius: 100px;
    transition: 0.25s ease;
    @include flexCenter();
  }
  .transition:hover {
    background-color: $text-color;
    border-color: $text-color;
    color: #fff;
  }
  .large {
    height: 60px;
    padding: 0 50px;
  }
}

#main {
  padding-top: 70px;
  width: 100%;
  #aboutVisual {
    li {
      .aboutBanner {
        height: 260px;
        background-color: #ccc;
        background-position: 50%;
        background-size: cover;
        background-image: url("../images/main/banner/subimage_about.png");
        cursor: pointer;
        position: relative;
      }
      .middleMenu {
        background-color: #faf8f2;
        p {
          padding: 10px;
          display: flex;
          justify-content: center;
          text-align: center;
          font-size: 18px;
        }
        ul {
          display: flex;
          justify-content: center;
          li {
            a {
              display: block;
              padding: 30px;
              font-size: 14px;
              position: relative;
              z-index: 2;
            }
            &.on {
              a {
                font-size: 14px;
                font-weight: 400;
                color: #ffcc00;
              }
            }
          }
        }
      }
    }

    .sec01 /**/ {
      letter-spacing: 0.5px;
      img {
        width: 777px;
      }
      .mainBox {
        margin: 0 auto;
        width: 777px;
        .left {
          padding: 35px 0 40px 0;
          line-height: 24px;
          strong {
            color: #777777;
            font-size: 18px;
            padding-bottom: 10px;
            font-weight: 600;
          }
          div {
            font-size: 14px;
            color: #777777;
          }
        }
        .right {
          display: flex;
          position: relative;
          .pictureMenu {
            position: absolute;
            bottom: 50px;
            left: 0;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            h3 {
              font-size: 18px;
              font-weight: 600;
              color: #ffffff;
              padding-bottom: 5px;
            }
            h4 {
              font-size: 16px;
              font-weight: 500;
              color: #ffffff;
            }
            .meetTab {
              display: flex;
              margin-top: 20px;
              padding-bottom: 0;
              justify-content: center;
              box-sizing: border-box;
              li {
                margin: 0 10px 10px;
                box-sizing: border-box;
                a {
                  display: inline-block;
                  box-sizing: border-box;
                  width: 160px;
                  height: 50px;
                  padding: 0 20px;
                  text-align: center;
                  font-size: 15px;
                  font-weight: 600;
                  color: #ffffff;
                  line-height: 45px;
                  border: 2px solid #ffffff;
                  &:hover {
                    color: #ffffff;
                    background-color: #dfdfdc;
                  }
                }
              }
            }
          }
        }
      }
    }
    .sec02 {
      letter-spacing: 0.5px;
      font-size: 14px; /*작은글자 설정 여기하고*/
      .mainBox {
        margin: 0 auto;
        width: 777px;
        .left {
          padding: 35px 0 40px 0;
          line-height: 24px;
          strong {
            color: #777777;
            font-size: 18px; /*큰글자 설정 여기했습니다.*/
            padding-bottom: 10px;
          }
          div {
            font-size: 14px;
            color: #777777;
          }
        }
      }
    }
    .sec03 {
      letter-spacing: 0.5px;
      margin-bottom: 10px;
      .mainBox {
        margin: 0 auto;
        width: 777px;
        .left {
          padding: 35px 0 40px 0;
          line-height: 24px;
          strong {
            color: #777777;
            font-size: 18px;
            padding-bottom: 10px;
          }
          div {
            font-size: 14px;
            color: #777777;
            a {
              color: #777777;
              span {
                color: #fff;
                font-size: 10px;
                border-radius: 50px;
                padding: 3px;
                background-color: #ffcc00;
                vertical-align: top;
              }
            }
            .LearnMilk {
              color: #ffcc00;
              font-weight: 500;
            }
          }
        }
      }
    }

    /*who we are menu*/
    .whoSec01 {
      letter-spacing: 0.5px;
      margin: 0 auto;
      width: 777px;
      .smallContainer {
        margin: 0 auto;
      }
    }
    .whoSec02 /*사진, 이름, 소개의 큰 틀*/ {
      letter-spacing: 0.5px;
      margin: 20px auto;
      width: 777px;
      .smallContainer {
        .menu {
          padding: 0px 0 0px 140px;
          background: url(../images/main/about/who/sub_whoweare_sec01.png);
          background-repeat: no-repeat;
          h4 /*이름*/ {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #777;
            margin-top: -5px;
          }
          p /*소개*/ {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -1px;
          }
        }
      }
    }
    .whoSec03 {
      letter-spacing: 0.5px;
      margin: 20px auto;
      width: 777px;
      .smallContainer {
        .menu {
          padding: 0px 0 0px 140px;
          background: url(../images/main/about/who/sub_whoweare_sec02.png);
          background-repeat: no-repeat;
          h4 {
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            color: #777;
            margin-top: -5px;
          }
          p {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: -1px;
          }
        }
      }
    }
  }
  .whoSec04 {
    letter-spacing: 0.5px;
    margin: 20px auto;
    width: 777px;

    .smallContainer {
      .menu {
        padding: 0px 0 0px 140px;
        background: url(../images/main/about/who/sub_whoweare_sec03.png);
        background-repeat: no-repeat;
        h4 {
          font-size: 14px;
          font-weight: 600;
          line-height: 1;
          color: #777;
          margin-top: -5px;
        }
        p {
          margin-top: 20px;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: -1px;
        }
      }
    }
  }
  .whoSec05 {
    letter-spacing: 0.5px;
    margin: 20px auto;
    width: 777px;

    .smallContainer {
      .menu {
        padding: 0px 0 0px 140px;
        background: url(../images/main/about/who/sub_whoweare_sec04.png);
        background-repeat: no-repeat;
        h4 {
          font-size: 14px;
          font-weight: 600;
          line-height: 1;
          color: #777;
          margin-top: -5px;
        }
        p {
          margin-top: 20px;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: -1px;
        }
      }
    }
  }
  .whoSec06 {
    letter-spacing: 0.5px;
    margin: 20px auto;
    width: 777px;

    .smallContainer {
      .menu {
        padding: 0px 0 0px 140px;
        background: url(../images/main/about/who/sub_whoweare_sec05.png);
        background-repeat: no-repeat;
        h4 {
          font-size: 14px;
          font-weight: 600;
          line-height: 1;
          color: #777;
          margin-top: -5px;
        }
        p {
          margin-top: 20px;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: -1px;
        }
      }
    }
  }
  .whoSec07 {
    letter-spacing: 0.5px;
    margin: 20px auto;
    width: 777px;

    .smallContainer {
      .menu {
        padding: 0px 0 0px 140px;
        background: url(../images/main/about/who/sub_whoweare_sec06.png);
        background-repeat: no-repeat;
        h4 {
          font-size: 14px;
          font-weight: 600;
          line-height: 1;
          color: #777;
          margin-top: -5px;
        }
        p {
          margin-top: 20px;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: -1px;
        }
      }
    }
  }
  .whoSec08 {
    letter-spacing: 0.5px;
    margin: 20px auto;
    width: 777px;
    .smallContainer {
      .menu {
        padding: 0px 0 0px 140px;
        background: url(../images/main/about/who/sub_whoweare_sec07.png);
        background-repeat: no-repeat;
        h4 {
          font-size: 14px;
          font-weight: 600;
          line-height: 1;
          color: #777;
          margin-top: -5px;
        }
        p {
          margin-top: 20px;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: -1px;
        }
      }
    }
  }
  .whoSec09 {
    letter-spacing: 0.5px;
    margin: 20px auto;
    width: 777px;

    .smallContainer {
      .menu {
        padding: 0px 0 0px 140px;
        background: url(../images/main/about/who/sub_whoweare_sec08.png);
        background-repeat: no-repeat;
        h4 {
          font-size: 14px;
          font-weight: 600;
          line-height: 1;
          color: #777;
          margin-top: -5px;
        }
        p {
          margin-top: 20px;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: -1px;
        }
      }
    }
  }
  .whoSec10 {
    letter-spacing: 0.5px;
    margin: 20px auto;
    width: 777px;

    .smallContainer {
      .menu {
        padding: 0px 0 0px 140px;
        background: url(../images/main/about/who/sub_whoweare_sec09.png);
        background-repeat: no-repeat;
        h4 {
          font-size: 14px;
          font-weight: 600;
          line-height: 1;
          color: #777;
          margin-top: -5px;
        }
        p {
          margin-top: 20px;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: -1px;
        }
      }
    }
  }
  //press menu start
  .aboutPress {
    margin: 0 auto;
    width: 777px;
    color: #ffffff;
    .pressBoard {
      margin: 0 auto;
      padding-top: 60px;
      padding-bottom: 60px;
      .responsiveTable/*각각의 신문사 틀*/ {
        width: 100%;
        .table {
          border: 1px solid #c3cfd9;
          .xansBody {
            text-align: center;
            tr {
              background-color: #ffffff;
              color: #333333;
              border-bottom: 1px solid #c3cfd9;
              td {
                font-size: 16px;
                color: #676e73;
                border-color: #c3cfd9;
                background: #fbfafa;
                vertical-align: middle;
                width: 58px;
              }
              .thumb {
                width: 148px;
                background: #fff;
                li {
                  a {
                    overflow: hidden;
                    img {
                      width: 90px;
                      border-radius: 20px;
                    }
                  }
                }
              }
              .rightTxtPart {
                position: relative;
                height: 106px;
                background: #fff;
                .newsLink {
                  width: 539px;
                  text-align: left;
                  line-height: 24px;
                  a {
                    color: #777777;
                    font-weight: 500;
                  }
                  span {
                    display: block;
                    width: 84%;
                    padding-top: 10px;
                    font-size: 14px;
                    font-weight: 400;
                    img {
                      float: right;
                    }
                  }
                }
                .hbBoardEtc {
                  position: absolute;
                  right: 30px;
                  top: 80%;
                  margin-top: -30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
