#main {
  padding-top: 70px;

  margin: 0 auto;
  .title_menu {
    text-align: center;
    padding: 30px;
    strong {
      margin-top: 30px;
      padding: 30px 30px;
      color: gray;
      font-weight: 700;
    }
    ul {
      margin: 0 auto;
      margin-top: 30px;
      width: 800px;
      display: flex;
      justify-content: space-around;
      padding: 0 30px;
      li {
        a {
          font-size: 14px;
          font-weight: 400;
          color: #777777;
        }
        &.on {
          a {
            font-size: 14px;
            font-weight: 400;
            color: #ffcc00;
          }
        }
      }
    }
  }
  .imgBox {
    margin: 0 auto;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 200px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-first;
    .txtBox {
      margin: 0 auto;
      color: #fff;
      display: block;
      line-height: 20px;
      font-size: 14px;
      padding-bottom: 20px;
      text-align: center;
      h2 {
        font-size: 18px;
        font-weight: 700;
        margin: 20px 0;
      }
      span {
        padding-bottom: 30px;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &.all_pro {
      background-image: url("../images/shop_main/subimage_shopall.png");
    }
    &.baby {
      background-image: url("../images/shop_main/subimage_shop.png");
    }
    &.kid {
      background-image: url("../images/shop_main/subimage_shop2.png");
    }
    &.bath {
      background-image: url("../images/shop_main/subimage_shop3.png");
    }
    &.pre {
      background-image: url("../images/shop_main/subimage_shop4.png");
    }
  }

  .inner {
    margin: 0 auto;
    width: 900px;
    padding: 30px 0;
    ul {
      margin: 0 auto;
      padding: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 430px;
        height: 640px;
        text-align: center;
        padding: 5px;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
        .li_txtBox {
          margin: 20px 0;
          span {
            font-size: 20px;
            font-weight: 700;
          }
          p {
            height: 40px;
            padding: 20px;
          }
        }
        .cart {
          width: 100%;
          padding: 10px 0;
          border: 1px solid #ccc;
          a {
            font-size: 23px;
          }
        }
      }
    }
    .soon {
      height: 300px;
      margin: 0 auto;
      text-align: center;
      color: #777777;
      font-weight: 500;
      h3 {
        display: block;
        font-size: 30px;
        height: 30px;
        line-height: 50px;
        span {
          display: block;
          height: 30px;
          line-height: 30px;
          font-size: 20px;
        }
      }
    }
  } //메인페이지 _end
  //상품 소개 페이지 시작
  .shop_pd_info {
    padding: 70px 0;
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #c3cfd9;
    .top_pd_menu01 {
      display: flex;
      justify-content: space-between;
      .imgArea {
        width: 48%;
        .thumbnail {
          img {
            width: 100%;
          }
        }
        .list_img {
          width: 100%;
          margin-top: 30px;
          ul {
            display: flex;
            justify-content: space-between;
            li {
              cursor: pointer;
              display: block;
              width: 19%;
              img {
                width: 100%;
              }
            }
          }
        }
      }
      .infoArea {
        padding-top: 20px;
        width: 48%;
        .info_button_inside {
          h3 {
            font-size: 20px;
            margin: 15px 0;
          }
          p {
            font-size: 14px;
            margin: 15px 0;
          }
        }
        .total_product {
          margin: 30px 0;
          border-top: 1px solid #c3cfd9;
          border-bottom: 1px solid #c3cfd9;
          ul {
            display: flex;
            justify-content: space-between;
            li {
              padding: 10px 0;
              font-size: 13px;
              line-height: 30px;
              margin-right: 30px;
              align-items: center;
              a {
                img {
                  vertical-align: middle;
                }
              }
              input {
                vertical-align: middle;
                text-align: center;
                box-sizing: border-box;
                width: 20px;
                border: none;
              }
              &:nth-child(3) {
                margin-right: 0px;
                margin-left: 40px;
              }
            }
          }
        }
        .total_price {
          text-align: right;
          font-size: 17px;
          font-weight: 600;
          color: #777777;
        }
        .base_btn {
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
          a {
            width: 28%;
            text-align: center;
            font-weight: 500;
            padding: 10px 10px;
            border: 1px solid #c3cfd9;
            &:nth-child(1) {
              border: none;
              background-color: #ffcc00;
              color: #fff;
            }
          }
        }
      }
    }
    .top_pd_menu02 {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      .txtReview {
        .review_score_group {
          padding: 40px 0 20px 20px;
          .review_count {
            strong {
              font-size: 24px;
              line-height: 24px;
              color: rgb(112, 112, 112);
              margin-right: 4px;
            }
          }
          .review_score_avg {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            width: 40px;
            span {
              color: #ffcc00;
              font-size: 15px;
            }
            div {
              font-size: 14px;
              line-height: 15px;
            }
          }
        }
        .total_satisfy {
          display: flex;
          justify-content: space-between;
          padding-left: 20px;
          font-size: 14px;
          font-weight: 500;
          .sati_btn01 {
            border: 1px solid #ffcc00;
            border-radius: 20px;
            color: #ffcc00;
            padding: 5px 30px;
            line-height: 20px;
          }
          .sati_btn02 {
            display: flex;
            padding: 5px 10px;
            line-height: 20px;
            span {
              color: #ffcc00;
            }
          }
        }
      }
      .imgReview {
        // padding: 0 20px;
        width: 800px;
        padding-top: 10px;
        cursor: pointer;
        .imgR_title {
          padding-left: 30px;
          font-size: 16px;
          font-weight: 500;
          span {
            color: #777777;
          }
        }
        .imgR_count {
          box-sizing: border-box;
          overflow: hidden;
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .prev,
          .next {
            img {
              vertical-align: middle;
            }
          }
          .r_imgBox {
            // box-sizing: border-box;
            overflow: hidden;
            // width: 100%;
            height: 128px;
            ul {
              display: flex;
              // justify-content: center;
              // box-sizing: border-box;
              // overflow: hidden;
              li {
                margin-right: 5px;
                width: 128px;
                height: 128px;
                img {
                  width: 128px;
                  height: 128px;
                }
              }
            }
          }
        }
      }
    } //top_pd_menu02 END
    .tab_content {
      margin-top: 50px;
      .tab_nav {
        border-bottom: 1px solid #c3cfd9;
        display: flex;
        justify-content: center;
        li {
          padding: 10px 20px;
          font-size: 14px;
          color: #c3cfd9;
        }
      }
      .cont {
        display: block;
        margin: 20px auto;
        text-align: center;
      }
      .detail_accodion {
        margin-top: 50px;
        div {
          // box-sizing: border-box;
          h4 {
            margin: 10px 0;
            padding: 20px 20px;
            overflow: hidden;
            background-color: #c3cfd9;
            a {
              display: block;
              background: url("../images/common/icon_ingredientlist_off.png") right 10px center no-repeat;
            }
          }
          cursor: pointer;
          div {
            // display: none;
            line-height: 25px;
            background-color: #fff;
            padding: 20px 20px;
          }
        }
      }
      .detail_accodion > div.active h4 a {
        background-image: url("../images/common/icon_ingredientlist_on.png");
      } // 상세페이지 리뷰 리스트 클릭시 화살표 이미지 변경
      .detail_accodion > div.active h4 + div {
        display: block;
        background: #ffffff;
      } // 상세페이지 리뷰 리스트 클릭시 세부내용 나타남
      .detail_accodion > div h4 + div {
        display: none;
        background: #ffffff;
      } // 상세페이지 다른 리뷰 리스트 클릭시 세부내용 사라짐
      //shop 리뷰 테이블 시작
      .review_shop_table {
        margin-top: 30px;
        table {
          width: 100%;
          border: 1px solid #c3cfd9;
          tbody {
            tr {
              border-bottom: 1px solid #c3cfd9;
              td {
                padding: 10px 10px;
                font-size: 14px;
              }
              td {
                padding: 10px 10px;
                font-size: 14px;
                .title_date {
                  display: flex;
                  justify-content: space-between;
                  .s_r_table {
                    width: 600px;
                    li {
                      padding: 5px 0;
                      a {
                        font-size: 16px;
                        color: #676e73;
                        font-weight: 500;
                      }
                    }
                  }
                  .shop_r_date_info {
                    padding: 10px 0;
                    line-height: 30px;
                  }
                  &:nth-child(0) {
                    text-align: center;
                    vertical-align: middle;

                    background-color: #fbfafa;
                  }
                }
                &:nth-child(1) {
                  background-color: #fbfafa;
                  width: 60px;
                  vertical-align: middle;
                  text-align: center;
                }
              }
            }
            // .tr_review_expand {
            //   background-color: #fff;
            //   td {
            //     text-align: left;
            //     display: block;
            //   }
            // }
          }
        }
      } //table _end
      .table_bottom_btn {
        text-align: right;
        button {
          margin: 20px auto 30px;
          background-color: #ffcc00;
          padding: 10px 20px;
          font-size: 16px;
          font-weight: 500;
          color: #fff;
        }
      }
    }
  }
}
