.titleArea {
  padding: 70px 0;
  text-align: center;
  margin: 0 auto;
  width: 500px;
  h1 {
    padding: 10px 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 50px;
  }
  color: #777777;
  p {
    font-size: 18px;
    color: #939393;
    padding-top: 20px;
  }
}
//마이페이지 하단 리스트
#main {
  //마이페이지 관심 상품
  .wishlist {
    width: 1480px;
    margin: 0 auto;
    //관심상품 테이블 시작
    .consult_list_table {
      table {
        width: 100%;
        border-top: 1px solid #c3cfd9 !important;
        vertical-align: middle;
        thead {
          tr {
            border-bottom: 1px solid #c3cfd9;
            th {
              vertical-align: middle;
              font-size: 14px;
              font-weight: 500;
              color: #959ea6;
              padding: 20px 0;
              &:nth-child(1) {
                input {
                  width: 24px;
                  height: 24px;
                  appearance: none;
                  background-image: url("../images/common/bg-checkbox.png");
                  background-repeat: no-repeat;
                  background-position: 50%;
                }
                input[type="checkbox"]:checked {
                  background-image: url("../images/common/bg-checkbox-active.png");
                }
              }
            }
          }
        }
        tbody {
          tr {
            border-bottom: 1px solid #c3cfd9;
            td {
              text-align: center;
              vertical-align: middle;
              font-size: 14px;
              font-weight: 500;
              color: #959ea6;
              padding: 20px 0;
              .checkbox {
                img {
                  width: 100px;
                  height: 100px;
                }
              }
              &:nth-child(1) {
                input {
                  width: 24px;
                  height: 24px;
                  appearance: none;
                  background-image: url("../images/common/bg-checkbox.png");
                  background-repeat: no-repeat;
                  background-position: 50%;
                }
                input[type="checkbox"]:checked {
                  background-image: url("../images/common/bg-checkbox-active.png");
                }
              }
              &:nth-child(3) {
                text-align: left;
                ul {
                  li {
                    &:nth-child(1) {
                      a {
                        font-size: 18px;
                        font-weight: 500;
                        color: #777777;
                      }
                    }
                    &:nth-child(2) {
                      margin-top: 15px;
                      strong {
                        color: #676e73;
                        font-size: 20px;
                      }
                    }
                    &:nth-child(3) {
                      margin-top: 15px;
                      span {
                        font-size: 16px;
                        font-weight: 500;
                      }
                    }
                    .wish_btn {
                      margin-top: 25px;
                      margin-bottom: none;
                      a {
                        width: 80px;
                        text-align: center;
                        display: inline-block;
                        padding: 10px 15px;
                        font-size: 18px;
                        font-weight: 500;
                        margin-right: 10px;
                        &:nth-child(1) {
                          background-color: #ffcc00;
                          color: #fff;
                        }
                        &:nth-child(2) {
                          background-color: #777777;
                          color: #fff;
                        }
                        &:nth-child(3) {
                          border: 1px solid #c3cfd9;
                          color: #777777;
                        }
                      }
                    } //wish_btn_end
                  }
                }
              }
            }
          }
        }
      } //wishlist table end
      .wish_bottom_btn {
        width: 100%;
        margin: 15px 0;
        .gLeft {
          padding: 5px 10px;
          font-size: 16px;
          strong {
            font-weight: 500;
          }
          a {
            text-align: center;
            display: inline-block;
            width: 100px;
            padding: 10px 5px;
            color: #777777;
            &:nth-child(2) {
              background-color: #777777;
              color: #fff;
            }
          }
        }
        .gCenter {
          text-align: center;
          margin: 0 auto;
          padding: 5px 10px;
          font-size: 16px;
          a {
            text-align: center;
            display: inline-block;
            width: 250px;
            height: 50px;
            line-height: 50px;
            padding: 0 25px;
            color: #777777;
            &:nth-child(2) {
              background-color: #ffcc00;
              color: #fff;
            }
          }
        }
      }
      // .order_page {
      //   margin-top: 40px;
      //   margin-bottom: 80px;
      //   height: 24px;
      //   display: flex;
      //   justify-content: center;
      //   a {
      //     margin: 0 5px;
      //   }
      //   ol {
      //     li {
      //       a {
      //         line-height: 24px;
      //       }
      //     }
      //   }
      // }
    }
  } //wishlist 관심상품 종료

  //마이페이지 적립금 시작
  .saved_money {
    width: 1480px;
    margin: 0 auto;
    .save_m_Info {
      width: 100%;
      border: 1px solid #c3cfd9;
      padding: 20px 0;
      text-align: center;
      // box-sizing: border-box;
      position: relative;
      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: left;
        li {
          width: 47%;
          height: 30px;
          line-height: 30px;
          margin: 3px 0;
          padding: 0 20px;
          display: flex;
          justify-content: space-between;
          strong {
            font-size: 15px;
            font-weight: 500;
            color: #777777;
          }
          a {
            display: inline-block;
            border: 1px solid #c3cfd9;
            padding: 0px 20px;
            height: 30px;
          }
          &:nth-child(1) {
            width: 100%;
            padding: 0 20px 10px;
            strong {
              font-size: 16px;
              font-weight: 500;
            }
            span {
              font-size: 16px;
              font-weight: 500;
              color: #ffcc00;
            }
          }
        }
        &:before {
          content: "";
          display: block;
          padding: 30px 0;
          background-color: #c3cfd9;
          width: 1px;
          position: absolute;
          left: 50%;
          top: 45%;
        }
      }
    } // 총적립급  end
    .basetab {
      border-bottom: 1px solid #777777;
      margin: 30px 0;
      ul {
        li {
          width: 200px;
          display: inline-block;
          border: 1px solid #777777;
          border-bottom: none;
          padding: 10px 10px;
          text-align: center;
          border-radius: 15px 15px 0 0;
          z-index: 10;
          cursor: pointer;
          a {
            display: block;
          }
          &.selected {
            background-color: #777777;
            a {
              color: #fff;
            }
          }
          //주문내역 li 클릭시 selected Class 추가
        }
      }
    }
    .s_money_list_table {
      margin: 0 auto;
      table {
        width: 100%;
        border-top: 1px solid #c3cfd9 !important;
        padding: 20px 20px;
        thead {
          tr {
            border-bottom: 1px solid #c3cfd9 !important;
            th {
              padding: 15px 0;
              vertical-align: middle;
            }
          }
        }
        tbody {
          text-align: center;
          tr {
            border-bottom: 1px solid #c3cfd9 !important;
            td {
              padding: 15px 0;
              vertical-align: middle;
            }
          }
        }
      }
    }
    // .order_page {
    //   margin: 100px 0;
    //   height: 24px;
    //   display: flex;
    //   justify-content: center;
    //   a {
    //     margin: 0 5px;
    //   }
    //   ol {
    //     li {
    //       a {
    //         line-height: 24px;
    //       }
    //     }
    //   }
    // }
    .myshop-head {
      margin-bottom: 50px;
      h3 {
        font-size: 18px;
        color: #676e73;
        font-weight: 500;
      }
      .info_inner {
        ul {
          color: #959ea6;
          margin-top: 20px;
          padding-left: 20px;
          list-style: disc;
          line-height: 30px;
        }
      }
    }
  }
  //마이페이지 cupon
  .myCupon {
    margin: 0 auto;
    width: 1480px;
    .myshop-cuponlist {
      .tbltitle {
        margin: 20px 0;
        h3 {
          display: inline-block;
          font-size: 18px;
          color: #676e73;
          font-weight: 500;
        }
        p {
          float: right;
          font-size: 14px;
          color: #777777;
          font-weight: 500;
          span {
            color: #f9ce42;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      .cupon_list_table {
        table {
          width: 100%;
          thead {
            border-top: 1px solid #959ea6;
            tr {
              border-bottom: 1px solid #959ea6;
              th {
                vertical-align: middle;
                padding: 15px 0;
                font-weight: 500;
                color: #959ea6;
              }
            }
          }
          tbody {
            tr {
              border-bottom: 1px solid #959ea6;
              td {
                text-align: center;
                vertical-align: middle;
                padding: 15px 0;
                font-size: 14px;
                font-weight: 500;
                color: #676e73;
              }
            }
          }
        }
      }
    }
    // .order_page {
    //   margin: 50px 0 10px;
    //   height: 24px;
    //   display: flex;
    //   justify-content: center;
    //   a {
    //     margin: 0 5px;
    //   }
    //   ol {
    //     li {
    //       a {
    //         line-height: 24px;
    //       }
    //     }
    //   }
    // } //order_page_end
    .myshop_cupon_serial {
      .c_title {
        margin: 20px 0;
        h3 {
          font-size: 18px;
          color: #676e73;
          font-weight: 500;
        }
      }
      .cuponSerial {
        width: 100%;
        text-align: center;
        padding: 30px;
        background-color: #f9f9f9;
        border-radius: 25px;
        margin-bottom: 30px;
        fieldset {
          legend {
            visibility: hidden;
          }
          input {
            display: inline-block;
            width: 365px;
            height: 40px;
            border: 1px solid #c3cfd9;
            border-radius: 10px;
            box-sizing: border-box;
          }
          a {
            display: inline-block;
            margin-left: 10px;
            width: 120px;
            height: 40px;
            line-height: 40px;
            background: #f9ce42;
            color: #fff;
            border-radius: 10px;
            font-weight: 500;
            font-size: 16px;
            vertical-align: middle;
          }
          p {
            padding-top: 15px;
            font-size: 14px;
            color: #959ea6;
            font-weight: 500;
            line-height: 22px;
          }
        }
      }
      .base_help {
        margin-bottom: 50px;
        h3 {
          font-size: 18px;
          color: #676e73;
          font-weight: 500;
        }
        .cupon_inner {
          ul {
            color: #959ea6;
            margin-top: 20px;
            padding-left: 20px;
            list-style: disc;
            line-height: 30px;
          }
        }
      }
    }
  } //cupon end

  //게시물 관리
  .board_list {
    width: 1480px;
    margin: 0 auto;
    .board_listhead {
      text-align: right;
      p {
        font-size: 16px;
        color: #777777;
        select {
          width: 130px;
          margin-left: 10px;
          height: 40px;
          padding: 0 10px;
          border-color: #c3cfd9;
          font-size: 16px;
          color: #777777;
          appearance: none;
          background-image: url("../images/common/arr-select.png");
          background-repeat: no-repeat;
          appearance: none;
          background-position: 95%;
        }
      }
    }
    .board_inputbox {
      margin-bottom: 250px;
      fieldset {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        select {
          padding: 0 10px;
          width: 100px;
          height: 40px;
          display: inline-block;
          box-sizing: border-box;
          border: 1px solid #c3cfd9;
          background-image: url("../images/common/arr-select.png");
          background-repeat: no-repeat;
          appearance: none;
          background-position: 95%;
        }
        .board_search {
          display: flex;
          justify-content: center;
          input {
            display: inline-block;
            margin-left: 5px;
            border: 1px solid #c3cfd9;
            width: 300px;
            height: 40px;
            box-sizing: border-box;
          }
          a {
            margin-left: 5px;
            display: block;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            box-sizing: border-box;
            background-color: #f9ce42;
            color: #fff;
          }
        }
      }
    }
  } // 게시물 관리 종료 board_inputbox end
  // 마이페이지_어드레스
  .my_address {
    width: 1480px;
    margin: 0 auto;
    .address_Info {
      width: 100%;
      ul {
        border-top: 1px solid #777777;
        border-bottom: 1px solid #777777;
        li {
          padding: 20px 5px 20px 30px;
          line-height: 25px;
          position: relative;
          div {
            p {
              .tnlBtn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                display: inline-block;
                padding: 0 20px;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                color: #777777;
                box-sizing: border-box;
                border: 1px solid #c3cfd9;
              }
            }
          }
          &:nth-child(1) {
            border-bottom: 1px solid #959ea6;
          }
        }
      }
    }
    .no_add {
      margin: 10px 0;
      p {
        color: #777777;
      }
    }
    .base_button {
      text-align: right;
      margin: 15px 0;
      span {
        a {
          padding: 10px 20px;
          background-color: #ffcc00;
          color: #fff;
        }
      }
    }
    .address_head {
      margin-top: 30px;
      margin-bottom: 150px;
      h3 {
        font-size: 18px;
        color: #676e73;
        font-weight: 500;
      }
      .address_inner {
        ul {
          color: #959ea6;
          margin-top: 20px;
          padding-left: 20px;
          list-style: disc;
          line-height: 30px;
        }
      }
    }
  }
  //마이페이지 address end
  //마이페이지 배송지 입력 시작
  .my_adr_register {
    width: 1480px;
    margin: 0 auto;

    .adr_regi_table {
      table {
        width: 100%;
        border: 1px solid #c3cfd9;
        border-left: none;
        border-right: none;
        tbody {
          tr {
            border-bottom: 1px solid #c3cfd9;
            th {
              vertical-align: middle;
              width: 150px;
              background-color: #fbfafa;
              span {
                color: #f9ce42;
              }
            }
            td {
              padding: 20px 20px;
              font-size: 14px;
              input[type="text"],
              input[type="number"],
              select {
                height: 50px;
                border: none;
                outline: none;
                border-bottom: 1px solid #959ea6;
                padding: 5px 5px;
                font-size: 16px;
                color: #676e73;
                box-sizing: border-box;
                width: 200px;
                margin-right: 10px;
                padding-left: 20px;
              }
              button {
                padding: 10px 15px;
                background-color: #f9ce42;
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
              }
            }
            &:nth-child(3) {
              input[type="number"] {
                width: 390px;
                appearance: none;
                background: url("../images/common/arr-select.png") right 10px center no-repeat;
              }
              input[type="text"] {
                width: 500px;
              }
            }
            &:nth-child(4) {
              select {
                appearance: none;
                background: url("../images/common/arr-select.png") right 10px center no-repeat;
              }
            }
          }
          .right {
            td {
              vertical-align: middle;
              padding: 10px 10px;
              height: 44px;
              text-align: right;
              font-size: 16px;
              input {
                box-sizing: border-box;
                appearance: none;
              }
              label {
                font-size: 16px;
                font-weight: 500;
                color: #777777;
                cursor: pointer;
                display: inline-block;
                padding-left: 33px;
                width: 150px;
                height: 34px;
                line-height: 34px;
                background: url("../images/common/bg-checkbox.png") right 135px center no-repeat;
              }
              :checked + label {
                background-image: url("../images/common/bg-checkbox-active.png");
              }
            }
          }
        }
      }
    } //table _end
    .base_btn {
      text-align: right;
      padding: 20px 0;
      a {
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        padding: 20px 50px;
        &:nth-child(1) {
          color: #fff;
          background-color: #f9ce42;
        }
      }
    }
    .address_head {
      margin-top: 30px;
      margin-bottom: 150px;
      h3 {
        font-size: 18px;
        color: #676e73;
        font-weight: 500;
      }
      .address_inner {
        ul {
          color: #959ea6;
          margin-top: 20px;
          padding-left: 20px;
          list-style: disc;
          line-height: 30px;
        }
      }
    }
  }
}
